{
  "openapi": "3.1.0",
  "info": {
    "title": "Lector API",
    "version": "1.0.0",
    "description": "Lector reads and studies text in a target language. This document describes the\nHTTP API. The Lector web client and every personal access token use this same\nAPI.\n\n## Authentication\n\nEach `/api/*` endpoint needs a credential. Two kinds work:\n\n- A personal access token, sent as `Authorization: Bearer <token>`. Create a\n  token in Settings, under API tokens. Scripts and integrations use this kind.\n- A session cookie, which the browser client sends. Lector Cloud only.\n\nEach token carries scopes. Every endpoint below states the scope that it needs.\nSome resources have no scope at all. A token cannot reach those resources, so\nthis document leaves them out. Token management, billing, moderation and the\nadmin console are browser-only surfaces.\n\n## Languages\n\nLector separates your data by language. Most endpoints accept an optional\n`language` query parameter. Give it a language pack code, for example `af`, `es`\nor `grc`. If you omit the parameter, the API uses the active language of the\naccount.\n\n## Errors\n\nAn error response carries a JSON body with an `error` string. A `429` response\nalso names the plan limit that stopped the call.\n\n## Accounts\n\nThe cloud sign-in, sign-up, verification and two-factor endpoints are at\n`/api/auth/*`. Better Auth serves those endpoints and documents its own\ncontract. This document does not describe them.\n",
    "license": {
      "name": "AGPL-3.0-only",
      "identifier": "AGPL-3.0-only"
    }
  },
  "servers": [
    {
      "url": "https://app.lector.dev",
      "description": "Lector Cloud"
    },
    {
      "url": "http://localhost:3457",
      "description": "Self-hosted API (default port)"
    }
  ],
  "tags": [
    {
      "name": "Library",
      "description": "Collections, groups and lessons."
    },
    {
      "name": "Import",
      "description": "Bring text, EPUB, audio and video into the library."
    },
    {
      "name": "Vocabulary",
      "description": "Saved words and phrases, and word knowledge states."
    },
    {
      "name": "Practice",
      "description": "Cloze practice cards and their review schedule."
    },
    {
      "name": "Dictionary",
      "description": "Word lookup and the accepted-translation cache."
    },
    {
      "name": "Language help",
      "description": "Machine translation, explanation and speech."
    },
    {
      "name": "Journal",
      "description": "Written entries and their corrections."
    },
    {
      "name": "Statistics",
      "description": "Daily activity, streaks and fluency estimates."
    },
    {
      "name": "Anki",
      "description": "Card queue and review sync for the Anki add-on."
    },
    {
      "name": "Settings",
      "description": "Account preferences and provider configuration."
    },
    {
      "name": "Data",
      "description": "Export and restore the account’s learning data."
    },
    {
      "name": "Chat",
      "description": "Conversation practice with the language model."
    },
    {
      "name": "Onboarding",
      "description": "Guided first-run state and starter content."
    },
    {
      "name": "Service",
      "description": "Health and deployment information."
    }
  ],
  "security": [
    {
      "PersonalAccessToken": []
    },
    {
      "SessionCookie": []
    }
  ],
  "paths": {
    "/api/anki": {
      "get": {
        "operationId": "getApiAnki",
        "summary": "Check the Anki connection",
        "description": "Reads the deck list through the AnkiConnect add-on. Anki must run on the same host as the API.",
        "tags": [
          "Anki"
        ],
        "responses": {
          "200": {
            "description": "Connection state and decks. An unreachable Anki answers `connected: false`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connected": {
                      "type": "boolean"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "decks": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "anki:read"
      },
      "post": {
        "operationId": "postApiAnki",
        "summary": "Call an allowed AnkiConnect action",
        "description": "Passes one allowed action to AnkiConnect. The API syncs reviews after it adds a note.",
        "tags": [
          "Anki"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "An allowed AnkiConnect action."
                  },
                  "params": {
                    "type": "object"
                  }
                },
                "required": [
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result from AnkiConnect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "anki:write"
      }
    },
    "/api/anki/ack": {
      "post": {
        "operationId": "postApiAnkiAck",
        "summary": "Acknowledge created or updated notes",
        "description": "Marks the vocabulary entries as pushed, and clears the pending rows. Echo the `version` from the pull. A card queued again then survives a late acknowledgement.",
        "tags": [
          "Anki"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "results": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "vocabId": {
                          "type": "string"
                        },
                        "ankiNoteId": {
                          "type": "integer"
                        },
                        "version": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "vocabId"
                      ]
                    }
                  }
                },
                "required": [
                  "results"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "How many rows the acknowledgement cleared.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "acked": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "anki:write"
      }
    },
    "/api/anki/pending": {
      "get": {
        "operationId": "getApiAnkiPending",
        "summary": "Pull the pending card batch",
        "description": "Returns one batch, and how many rows remain. Loop the pull, the write and the acknowledgement until the queue is empty.",
        "tags": [
          "Anki"
        ],
        "responses": {
          "200": {
            "description": "The batch, and the rows that remain after it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pending": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lectorId": {
                            "type": "string",
                            "description": "The vocabulary entry identifier."
                          },
                          "cardType": {
                            "type": "string",
                            "enum": [
                              "basic",
                              "word",
                              "cloze"
                            ]
                          },
                          "word": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "sentence": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "translation": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "meaning": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "language": {
                            "type": "string"
                          },
                          "sourceUrl": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "clipStartMs": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "clipEndMs": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "queuedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "version": {
                            "type": "integer",
                            "description": "Echo it back on the acknowledgement."
                          }
                        }
                      }
                    },
                    "remaining": {
                      "type": "integer",
                      "description": "Advisory count, for progress output."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "anki:read"
      }
    },
    "/api/anki/queue": {
      "post": {
        "operationId": "postApiAnkiQueue",
        "summary": "Queue vocabulary as Anki cards",
        "description": "Adds pending cards for the add-on to pull. A second call for the same entry replaces its pending row.",
        "tags": [
          "Anki"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "vocabId": {
                          "type": "string"
                        },
                        "cardType": {
                          "type": "string",
                          "enum": [
                            "basic",
                            "word",
                            "cloze"
                          ]
                        },
                        "word": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "sentence": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "translation": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "meaning": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "sourceUrl": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Video URL, for a card mined from a transcript."
                        },
                        "clipStartMs": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "clipEndMs": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "vocabId"
                      ]
                    }
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "How many cards the queue took, and how many it refused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queued": {
                      "type": "integer"
                    },
                    "failed": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "anki:write"
      }
    },
    "/api/anki/reviews": {
      "post": {
        "operationId": "postApiAnkiReviews",
        "summary": "Report reviews from the add-on",
        "description": "Raises the word state from the Anki review history. The endpoint never lowers a state, and never changes `ignored`.",
        "tags": [
          "Anki"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Send `reviews`, `reviewsByDay`, or an `inventory`.",
                "properties": {
                  "reviews": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "interval": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "reviewsByDay": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "Calendar date, `YYYY-MM-DD`."
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "inventory": {
                    "type": "object",
                    "description": "The notes the add-on holds."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What the report changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "anki:write"
      }
    },
    "/api/anki/sync-reviews": {
      "post": {
        "operationId": "postApiAnkiSyncReviews",
        "summary": "Sync the daily review counts from Anki",
        "description": "Reads the review counts through AnkiConnect and stores them, so the heatmap and the streak count Anki days. An unreachable Anki leaves the stored data alone.",
        "tags": [
          "Anki"
        ],
        "responses": {
          "200": {
            "description": "What the sync changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "anki:write"
      }
    },
    "/api/byok": {
      "delete": {
        "operationId": "deleteApiByok",
        "summary": "Delete your provider key",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "The key is deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "settings:write"
      },
      "get": {
        "operationId": "getApiByok",
        "summary": "Get the provider key state",
        "description": "Reports whether this deployment accepts your own provider key, and which key the account holds.",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "The state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean",
                      "description": "True when the deployment accepts a key."
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "True when the account holds a key."
                    },
                    "provider": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "providers": {
                      "type": "object",
                      "description": "Each provider, and the models it allows."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "settings:read"
      },
      "put": {
        "operationId": "putApiByok",
        "summary": "Store your own provider key",
        "description": "Validates the key against the provider, then stores it. Send the key only. The API never reads it back.",
        "tags": [
          "Settings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "anthropic",
                      "openrouter"
                    ]
                  },
                  "apiKey": {
                    "type": "string",
                    "description": "At most 512 characters."
                  },
                  "model": {
                    "type": "string",
                    "description": "A model the provider catalog lists."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The key is stored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "provider": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "This deployment does not accept your own key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "settings:write"
      }
    },
    "/api/chat": {
      "delete": {
        "operationId": "deleteApiChat",
        "summary": "Clear the conversation history",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The history is deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "chat:write"
      },
      "get": {
        "operationId": "getApiChat",
        "summary": "Get the conversation history",
        "description": "Returns messages oldest first. Page back with `before`.",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum messages. The default is 50.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return messages created before this time. Use it to page back.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The messages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "role": {
                        "type": "string",
                        "enum": [
                          "user",
                          "assistant"
                        ]
                      },
                      "content": {
                        "type": "string"
                      },
                      "provider": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "responseId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "language": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "chat:read"
      },
      "post": {
        "operationId": "postApiChat",
        "summary": "Send a chat message",
        "description": "Sends the message to the language model and returns the answer. The Free plan answers without storing the history.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "At most 32 KiB."
                  },
                  "language": {
                    "type": "string"
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Both messages of the exchange.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userMessage": {
                      "type": "object"
                    },
                    "assistantMessage": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "chat:write"
      }
    },
    "/api/cloze": {
      "get": {
        "operationId": "getApiCloze",
        "summary": "List practice cards",
        "description": "Cards in the language, soonest review first. Hidden cards stay out.",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "description": "Return only cards from this bank.",
            "schema": {
              "type": "string",
              "enum": [
                "top500",
                "top1000",
                "top2000",
                "mined",
                "random"
              ]
            }
          },
          {
            "name": "word",
            "in": "query",
            "required": false,
            "description": "Return only cards that blank this exact word.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum cards to return. The default is 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching cards.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClozeCard"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:read"
      },
      "post": {
        "operationId": "postApiCloze",
        "summary": "Create or replace practice cards",
        "description": "Send one object, or an array for a batch. Every card in a batch must use one language. A card with an existing identifier is replaced.",
        "tags": [
          "Practice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "sentence": {
                        "type": "string"
                      },
                      "clozeWord": {
                        "type": "string"
                      },
                      "clozeIndex": {
                        "type": "integer"
                      },
                      "translation": {
                        "type": "string"
                      },
                      "source": {
                        "type": "string",
                        "enum": [
                          "tatoeba",
                          "mined"
                        ]
                      },
                      "collection": {
                        "type": "string",
                        "enum": [
                          "top500",
                          "top1000",
                          "top2000",
                          "mined",
                          "random"
                        ]
                      },
                      "wordRank": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "tatoebaSentenceId": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "vocabEntryId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "masteryLevel": {
                        "type": "integer",
                        "enum": [
                          0,
                          25,
                          50,
                          75,
                          100
                        ]
                      },
                      "nextReview": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "language": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string",
                        "description": "Supply your own identifier. Optional."
                      }
                    },
                    "required": [
                      "sentence",
                      "clozeWord",
                      "translation"
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sentence": {
                          "type": "string"
                        },
                        "clozeWord": {
                          "type": "string"
                        },
                        "clozeIndex": {
                          "type": "integer"
                        },
                        "translation": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "tatoeba",
                            "mined"
                          ]
                        },
                        "collection": {
                          "type": "string",
                          "enum": [
                            "top500",
                            "top1000",
                            "top2000",
                            "mined",
                            "random"
                          ]
                        },
                        "wordRank": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "tatoebaSentenceId": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "vocabEntryId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "masteryLevel": {
                          "type": "integer",
                          "enum": [
                            0,
                            25,
                            50,
                            75,
                            100
                          ]
                        },
                        "nextReview": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "language": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string",
                          "description": "Supply your own identifier. Optional."
                        }
                      },
                      "required": [
                        "sentence",
                        "clozeWord",
                        "translation"
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One object answers with the new identifier. An array answers with the stored count.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CreatedId"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:write"
      }
    },
    "/api/cloze/{id}": {
      "delete": {
        "operationId": "deleteApiClozeById",
        "summary": "Delete a practice card",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Card identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The card is deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:write"
      },
      "get": {
        "operationId": "getApiClozeById",
        "summary": "Get one practice card",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Card identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The card.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClozeCard"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record, in this account and language.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:read"
      },
      "put": {
        "operationId": "putApiClozeById",
        "summary": "Update a practice card",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Card identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Send only the fields to change.",
                "properties": {
                  "sentence": {
                    "type": "string"
                  },
                  "clozeWord": {
                    "type": "string"
                  },
                  "clozeIndex": {
                    "type": "integer"
                  },
                  "translation": {
                    "type": "string"
                  },
                  "masteryLevel": {
                    "type": "integer",
                    "enum": [
                      0,
                      25,
                      50,
                      75,
                      100
                    ]
                  },
                  "nextReview": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reviewCount": {
                    "type": "integer"
                  },
                  "lastReviewed": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "timesCorrect": {
                    "type": "integer"
                  },
                  "timesIncorrect": {
                    "type": "integer"
                  },
                  "blacklisted": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The card is updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record, in this account and language.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:write"
      }
    },
    "/api/cloze/{id}/review": {
      "post": {
        "operationId": "postApiClozeByIdReview",
        "summary": "Record a practice answer",
        "description": "The client owns the schedule. Send the new mastery level and the next review time with the answer.",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Card identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "correct": {
                    "type": "boolean"
                  },
                  "masteryLevel": {
                    "type": "integer",
                    "enum": [
                      0,
                      25,
                      50,
                      75,
                      100
                    ]
                  },
                  "nextReview": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "correct",
                  "masteryLevel",
                  "nextReview"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer is recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record, in this account and language.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:write"
      }
    },
    "/api/cloze/counts": {
      "get": {
        "operationId": "getApiClozeCounts",
        "summary": "Count cards per bank",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Totals for each bank.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "total": {
                        "type": "integer"
                      },
                      "due": {
                        "type": "integer"
                      },
                      "mastered": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:read"
      }
    },
    "/api/cloze/due": {
      "get": {
        "operationId": "getApiClozeDue",
        "summary": "Get the cards due for practice",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum cards to return. The default is 20.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "`new` returns cards with no review yet. `review` returns seen cards that are due. Omit it for both.",
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "review"
              ]
            }
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "description": "Return only cards from this bank.",
            "schema": {
              "type": "string",
              "enum": [
                "top500",
                "top1000",
                "top2000",
                "mined",
                "random"
              ]
            }
          },
          {
            "name": "excludeWords",
            "in": "query",
            "required": false,
            "description": "Comma-separated words to leave out of the round.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cards to practise, in random order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClozeCard"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:read"
      }
    },
    "/api/cloze/onboarding": {
      "get": {
        "operationId": "getApiClozeOnboarding",
        "summary": "Get the guided first-run cards",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          },
          {
            "name": "vocabIds",
            "in": "query",
            "required": true,
            "description": "Comma-separated vocabulary identifiers. Between 1 and 20.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cards, in the order you asked for.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClozeCard"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:read"
      },
      "post": {
        "operationId": "postApiClozeOnboarding",
        "summary": "Create a guided first-run card",
        "description": "The identifier comes from `vocabId`, so a repeat call updates the same card.",
        "tags": [
          "Practice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vocabId": {
                    "type": "string"
                  },
                  "word": {
                    "type": "string"
                  },
                  "sentence": {
                    "type": "string"
                  },
                  "translation": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  }
                },
                "required": [
                  "vocabId",
                  "word",
                  "sentence",
                  "translation",
                  "language"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The card already existed and is updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClozeCard"
                }
              }
            }
          },
          "201": {
            "description": "The card is created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClozeCard"
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:write"
      }
    },
    "/api/cloze/seed": {
      "get": {
        "operationId": "getApiClozeSeed",
        "summary": "Check whether the card bank needs a seed",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Card counts, and the advice to seed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dbCount": {
                      "type": "integer",
                      "description": "Cards the account holds."
                    },
                    "bankSize": {
                      "type": "integer",
                      "description": "Cards in the built-in bank."
                    },
                    "needsSeed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:read"
      },
      "post": {
        "operationId": "postApiClozeSeed",
        "summary": "Seed cards from the built-in bank",
        "description": "Adds the missing cards for the language. Repeat calls are safe.",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "What the seed changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "seeded": {
                      "type": "integer"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "mined": {
                      "type": "integer"
                    },
                    "tatoeba": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:write"
      }
    },
    "/api/cloze/stats": {
      "get": {
        "operationId": "getApiClozeStats",
        "summary": "Get lifetime practice totals",
        "tags": [
          "Practice"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Correct and incorrect answers, summed over every card.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timesCorrect": {
                      "type": "integer"
                    },
                    "timesIncorrect": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "vocab:read"
      }
    },
    "/api/collections": {
      "get": {
        "operationId": "getApiCollections",
        "summary": "List collections",
        "description": "Collections in the language, in sort order.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The account’s collections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CollectionListItem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "collections:read"
      },
      "post": {
        "operationId": "postApiCollections",
        "summary": "Create a collection",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "author": {
                    "type": "string"
                  },
                  "coverUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "groupId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "language": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "Supply your own identifier. Optional."
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedId"
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, or a field is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "collections:write"
      }
    },
    "/api/collections/{id}": {
      "delete": {
        "operationId": "deleteApiCollectionsById",
        "summary": "Delete a collection",
        "description": "Deletes the collection, its lessons, and any audio on disk.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Collection identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The collection is deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "SessionCookie": []
          }
        ],
        "x-token-scope": "collections:write"
      },
      "get": {
        "operationId": "getApiCollectionsById",
        "summary": "Get a collection",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Collection identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LanguageQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionDetail"
                }
              }
            }
          },
          "401": {
            "description": "The credential is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token does not carry the scope this endpoint needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record, in this account and language.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A plan limit or a rate limit stopped the call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanLimitError"
                }
              }
            }
          },
          "500": {
            "description": "The API failed.",
            "content": {
              "application/json": {
[...]
